[access]
	inheritFrom = GerritForge/plugins_multi-site
[submit]
[project]
	description = Interface for a generic message broker for Gerrit Code Review
	state = read only
[access "refs/*"]
	owner = group user/Luca Milanesio (lucamilanesio)
	label-Formatting = -1..+1 group user/Jenkins at Gerrit-CI (jenkins-at-gerritci)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Luca Milanesio (lucamilanesio)
	label-Verified = -1..+1 group user/Luca Milanesio (lucamilanesio)
	push = group user/Luca Milanesio (lucamilanesio)
	read = group user/Luca Milanesio (lucamilanesio)
	rebase = group user/Luca Milanesio (lucamilanesio)
	removeReviewer = group user/Luca Milanesio (lucamilanesio)
	submit = group user/Luca Milanesio (lucamilanesio)
[access "refs/heads/*"]
	create = group user/Luca Milanesio (lucamilanesio)
	push = +force group user/Luca Milanesio (lucamilanesio)
	pushMerge = group user/Luca Milanesio (lucamilanesio)
	read = group user/Luca Milanesio (lucamilanesio)
[access "refs/tags/*"]
	push = group user/Luca Milanesio (lucamilanesio)
	push = +force group user/Luca Milanesio (lucamilanesio)
[label "Formatting"]
	function = NoOp
	value = -1 Invalid formatting
	value = 0 No score
	value = +1 Formatting OK
	copyAllScoresIfNoCodeChange = true
	defaultValue = 0
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
